body {
    margin: 20px;
    background: #FEFEFE;
}

.container{

    max-width: 700px;
}

.formly-field {
    margin-bottom: 16px;
}

.tab-pane {
    padding: 20px;
}


.panel-default{
    min-height: 300px;
}