<!DOCTYPE html>
<html>
<head>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>Angular Form Assignment Example</title>
</head>
<body ng-app="formlyExample" ng-controller="MainController as vm">
<div class="container">
    <h1>Angular Form Assignment Example</h1>
    <hr/>
    <div class="panel panel-default center-block">
        <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
            <tabset>
                <tab ng-repeat="tab in vm.tabs"
                     heading="{{tab.title}}"
                     active="tab.active"
                     disable="tab.disabled">
                    <formly-form model="tab.form.model" fields="tab.form.fields" form="vm.form"
                                 options="tab.form.options">
                    </formly-form>
                </tab>
            </tabset>
        </form>
    </div>
    <!--panel-->
    <div class="buttons">

        <button class="btn btn-small"  ng-click="vm.nav(false)"><i class="glyphicon glyphicon-triangle-left"></i>
        </button>
        <button class="btn btn-small" ng-click="vm.nav(true)"><i class="glyphicon glyphicon-triangle-right"></i>
        </button>
    </div>


    <!--custom content template for Summary tab-->
    <script type="text/ng-template" id="custom.html">

        <h4 ng-hide="form.$valid">Please fill out the form!</h4>
        <div ng-hide="form.$invalid">


            <h4>{{model.firstName}} {{model.lastName}}</h4>

            <p>Sex: {{model.sex}}</p>

            <p>Street address: {{model.street}}</p>

            <p>Post code: {{model.postcode}}</p>

            <p>Country: {{model.country}}</p>


            <p>Mailinglist: {{model.mailinglist ? "yes" : "no"}}</p>

            <p>Topic of interest: {{model.topic}}</p>
        </div>

    </script>


</div>
<!-- validate formly api-->
<script src="bower_components/api-check/dist/api-check.js"></script>
<script src="bower_components/angular/angular.js"></script>
<!-- Angular-UI Bootstrap has tabs directive we want -->
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-formly/dist/formly.js"></script>
<script src="bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.js"></script>
<script src="js/app.js"></script>
</body>
</html>